<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HotelMapper">

    <select id="findHotel" resultType="com.example.demo.bean.Hotel">
        select * from Hotel Limit 1;
    </select>

</mapper>